.movie-app{
	margin-left: auto;
	margin-right: auto;
	max-width: 1010px;
	background-color: #fff;
}

.movie-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 25px;
	padding: 20px 30px;
}

.paginator {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}

.movie-app .ant-tabs-nav-wrap{
	justify-content: center;
}

@media (max-width: 1010px) {
	.movie-app {
		max-width: 420px;
	}

	.movie-content{
		gap: 20px;
		padding: 10px 16px;
	}
      
	.ant-pagination{
		text-align: center;
	}
	.paginator {
		padding-top: 10px;
	}
	.ant-pagination-options-quick-jumper{
		margin-top: 5px;
	}
 }