.wraper-card{
	display: flex;
	height: 280px;
	width: 454px;
	box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
}

.img-container{
	min-height: 280px;
	min-width: 187px;
}

.img-container img{
	height: 100%;
	width: 100%;
}

.movie-info{
	margin: 15px 20px;
}

.movie-title{
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
}

.movie-release-date{
	color: #827E7E;
	font-size: 12px;
	line-height: 22px;
	margin-bottom: 10px;
}

.movie-overview{
	width: 228px;
}

.movie-genres{
	display: flex;
	gap: 8px;
	margin-bottom: 10px;
}

.movie-genre{
	line-height: 15px;
	padding: 2px 5px;
	background: #FAFAFA;
   border: 1px solid #D9D9D9;
	border-radius: 2px;
	color: rgba(0, 0, 0, 0.65);
}

